*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}
h1 {
  font-size: 2em;
}

.top-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin: 1.5em 0;
  letter-spacing: .2em;
}

/* travel city styles */
div {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 25em;
  padding: 3em 0 0 3em;
  margin-bottom: 2em;
}
@media screen and (min-width: 575px){
  div {
   margin: 1%;
   width: 48%;
 }
}

.preview-baku {
  background-image: url(/images/baku.jpg);
}

.preview-london {
  background-image: url(/images/london.png);
}

.preview-madrid {
  background-image: url(/images/madrid.jpg);

}
.preview-rome {
  background-image: url(/images/rome.jpg);

}